<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Friend</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>


<body>
    <h1>Books in bookstore</h1>
    <table>
        <tr>
            <th align="left">Title</th>
            <th align="left">Author</th>
            <th align="left">Year</th>
            <th align="left">ISBN</th>
            <th align="left">Price €</th>
        </tr>
        <tr th:each="kirja : ${books}">
            <td th:text="${kirja.title}"></td>
            <td th:text="${kirja.author}"></td>
            <td th:text="${kirja.publicationYear}"></td>
            <td th:text="${kirja.isbn}"></td>
            <td th:text="${kirja.price}"></td>
        </tr>
    </table>

    <br>
    <a href="/booklist">Refresh booklist </a> &nbsp;&nbsp; <a href="/addbook"> Add a new book </a>


</body>

</html>